flows/kafka-producer.json
[{"id":"ad9ce436.adfc18","type":"kafka","zkquorum":"192.168.51.13:2181","topics":"mqtt-topic","x":690,"y":167,"z":"e376d7d9.9db2d","wires":[]},{"id":"c9668127.308508","type":"function","name":"","func":"msg.payload = msg.topic + \":\" + msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":474.20001220703125,"y":133.1999969482422,"z":"e376d7d9.9db2d","wires":[["ad9ce436.adfc18"]]},{"id":"a242dfce.880678","type":"inject","name":"","topic":"manual send","payload":"hello kafka...","payloadType":"string","repeat":"","crontab":"","once":false,"x":263,"y":147,"z":"e376d7d9.9db2d","wires":[["c9668127.308508"]]}]