flows/kafka.json
[{"id":"c86dbaca.379248","type":"mqtt-broker","broker":"192.168.51.13","port":"1883","clientid":"node-red-mqtt"},{"id":"eb9943c.f1466c","type":"mqtt in","name":"node-mqtt","topic":"phone/test1","broker":"c86dbaca.379248","x":187.1999969482422,"y":127.19999694824219,"z":"7b2f9ae9.84d064","wires":[["55a9d728.aa5628"]]},{"id":"55a9d728.aa5628","type":"function","name":"","func":"// Takes a payload and topic and makes a QoS -1\n// MQTT-SN message buffer out of it.\n\nfunction makeMqttsBuffer(topic,message) {\n    var buf;\n    var p=0;\n    var len = topic.length + message.length + 7;\n    if (len > 254) {\n        p=2;\n        buf = new Buffer(topic.length + message.length + 7 + p);\n        buf[0] = 1;\n        buf[1] = parseInt((len+p)/256);\n        buf[2] = parseInt((len+p)%256);\n    }\n    else {\n        buf = new Buffer(topic.length + message.length + 7 + p);\n        buf[0] = len;\n    }\n    buf[1+p] = 12;\n    buf[2+p] = 96;\n    buf[3+p] = parseInt(topic.length/256);\n    buf[4+p] = parseInt(topic.length%256);\n    buf[5+p] = 32;\n    buf[6+p] = 32;\n    for (var i = 0; i < topic.length ; i++) {\n        buf[7+i+p] = topic.charCodeAt(i);\n    }\n    for (i = 0; i < message.length ; i++) {\n        buf[7+topic.length+i+p] = message.charCodeAt(i);\n    }\n    return buf;\n}\n\n//msg.payload = makeMqttsBuffer(msg.topic, msg.payload);\nmsg.payload = msg.topic + \":\" + msg.payload;\nreturn msg;","outputs":"2","noerr":0,"x":398.20001220703125,"y":136.1999969482422,"z":"7b2f9ae9.84d064","wires":[["d984a29.f267b6"],["7ee1f430.811e0c"]]},{"id":"d984a29.f267b6","type":"kafka","zkquorum":"192.168.51.13:2181","topics":"mqtt-topic","x":606.2000274658203,"y":131.39999389648438,"z":"7b2f9ae9.84d064","wires":[]},{"id":"7ee1f430.811e0c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":618.1999969482422,"y":192.1999969482422,"z":"7b2f9ae9.84d064","wires":[]}]